<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index - Formulário</title>
    <style>
      .error {
        color: red;
      }
      .success {
        color: green;
      }
    </style>
  </head>
  <body>
    <h1>Formulário de Contato (Java)</h1>

    

    <div th:if="${message}">
      <p th:text="${message}" th:classappend=" ${status}"></p>
    </div>

    <form th:action="@{/index}" method="post">
      <label for="name">Nome:</label><br />
      <input type="text" id="name" name="name" /><br /><br />

      <label for="email">E-mail:</label><br />
      <input type="email" id="email" name="email" /><br /><br />

      <button type="submit">Enviar</button>
    </form>

    <p><a th:href="@{/}">Voltar para Home</a></p>
  </body>
</html>
