<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index - Formulário</title>
    <style>
     *{
        background-image: url(../imagens/imagemsistema.png);
        background-size: cover;
      }
      img{
       background-image: url(../imagens/imagemsistema.png);
      }
     
    </style>
  </head>
  <body>
    <img src="../imagens/imagemsistema.png" alt="imagen do home"/>

    
    <li> <a> Home </a></li>
    <li> <a> Funcionarios </a></li>
    <li> <a> Produtos </a></li>
    <li> <a> Cliente </a></li>
    <li> <a> Vendas </a></li>
    <li> <a> Sobre </a></li>
    
    
   
  </body>
</html>
