*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
      background-image: url(../main/resources/imagens/imagemsistema.png);
      background-size: cover;
    }
header{
    margin-top: 10px;
}

nav li{
    display: inline-block;
    position: relative;
     
}
nav ul{
    display: flex;
    justify-content: space-around;
   
}
nav li a{
    text-decoration: none;
    color: #ffff;
}
nav li a:hover{
color: #2CE1E6;
}
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 3px black;
    background-color: #ffff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    display: none;
    text-align: center;
    padding: 10px 0;
    border-radius: 1px;
    z-index: 1000;
}



.dropdown-menu a{
    display: block;
    color: black;
    margin-top: 10px;
    padding: 5px;
}
.dropdown-menu a:hover{
    background-color: purple;
    color: aliceblue;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
